<ion-view view-title='FAVORITOS'>
  <ion-content scroll="true">
  	<div class="fav_list">
      <div class="no_favoritos" ng-show="totalFavoritos == 0">
      	<i class="icon ion-heart-broken"></i>
      	<br /><br />
        No tienes tiendas o productos favoritos
      </div>
      <!--
      <div class="no_puede_favoritos" ng-show="growify.id == 0 && totalFavoritos == 0">
      	<i class="icon ion-person"></i>
      	<br /><br />
        Solo los usuarios registrados pueden tener favoritos en su móvil.
      </div>
      -->

      <div class="favoritos" ng-show="totalFavoritos > 0">
	    <div ng-repeat="tienda in tiendas" class="offer">
	    	<a href="#/main/vertienda/{{tienda.id}}">
	        <ion-item>
	        	<div class="offer-foto">
					<div ng-if="tienda.avatar"><img src="{{$root.default.cdn}}{{tienda.avatar}}" /></div>
					<div ng-if="!tienda.avatar"><img src="img/index.png" /></div>
				</div>

				<div class="offer-right">
					<div class="offer-name">{{tienda.name}}</div>
	  		    </div>

	  		    <div class="c"></div>
	  		    
	        </ion-item>
	        </a>
	    </div>
	    <div ng-repeat="producto in productos" class="offer">
	    	<a href="#/main/vertiendaproducto/{{producto.id}}/{{producto.subid}}">
	        <ion-item>
	        	<div class="offer-foto">
					<div ng-if="producto.avatar"><img src="{{$root.default.cdn}}/assets/uploads/{{producto.avatar}}" /></div>
					<div ng-if="!producto.avatar"><img src="img/index.png" /></div>
				</div>

				<div class="offer-right">
					<div class="offer-name">{{producto.name}}</div>
					<div class="offer-local">Local: {{producto.local}}</div>
					<div class="offer-localdir">Dirección: {{producto.localdir}}</div>
	  		    </div>

	  		    <div class="c"></div>
	        </ion-item>
	        </a>
	    </div>
      </div>

    </div>
  </ion-content>
</ion-view>
