<ion-view view-title='TIENDAS'>
  <ion-content scroll="false">
    <div class="tabs-tiendas">
       <div>
          <a class="tab-i tienda_tab_mapa active" ng-click="tiendasShowDivMapa();">
             MAPA
          </a>
            
          <a class="tab-i tienda_tab_lista" ng-click="tiendasShowDivLista();">
             LISTA
          </a>
       </div>
    </div>

    <ion-content scroll="false" class="home-map">
        <div ng-if="storesOrdered.length == 0 && isLoaded" ng-hide="!$root.isMapEnabled" style="position:absolute;bottom:20px;z-index:9999; background-color: rgba(255,255,255,0.7); width: 100%; padding-left: 20px;">
          <h5>No se han encontrado tiendas,<br />revisa tus filtros en la configuración.</h5>
        </div>
        <div id="map" data-tap-disabled="true" ng-hide="!$root.isMapEnabled"></div>
        <div id="location" ng-hide="!$root.isMapEnabled">
            <a ng-click="followMe();"><i class="fa fa-location-arrow"></i></a>
        </div>
        <div ng-if="!$root.isMapEnabled" class="checkcfg">
          <h5>El mapa no está activo cuando estás seleccionando tiendas virtuales.</h5>
        </div>
    </ion-content>
    <ion-content scroll="true" class="home-list" style="display:none;">
        <div ng-if="storesOrdered.length == 0" align="center">
          <h5>No se han encontrado tiendas,<br />revisa tus filtros en la configuración.</h5>
        </div>
        <div ng-repeat="store in storesOrdered">
            <ion-item ng-href="#/main/vertienda/{{store._id}}/">
                <div class="img"><img class="avatar" src="{{$root.default.cdn}}{{store.avatar}}" /></div>
                <h2>{{store.name}}</h2>
                <h3>{{store.miDistancia}}</h3>
                <h4><img src="img/stars.{{store.rateAvg}}.png" /></h4>
            </ion-item>
        </div>
    </ion-content>

  </ion-content>
</ion-view>
