<ion-view view-title="Login" class="login">
  <ion-content>
    <div class="text-center logo animated slideInDown">
      <img src="img/logo.png" />
    </div>
    <form ng-submit="doLogin()">
      <div class="login-form">
        <label>
          <input type="text" maxlength="10" ng-model="loginData.username" placeholder="USUARIO">
        </label>
        <label>
          <input type="password" ng-model="loginData.password" placeholder="CONTRASEÑA">
        </label>
        
        <div class="loading" ng-show="cargandoLogin">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        </div>

        <div class="botones" ng-show="botonesLogin">
          <button class="button button-growify" type="submit">INGRESAR</button>
          <div class="inner">
            O REGISTRATE CON
            <ul>
              <li class="ifb">
                <a ng-click="loginFacebook();"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="itw">
                <a ng-click="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="igo">
                <a ng-click="loginGoogle();"><i class="fa fa-google"></i></a>
              </li>
            </ul>
          </div>
          <button ng-click="goToTerms();" class="button button-growify-line" type="button">CONTINUAR SIN REGISTRO</button>
          <div class="inner">
            ¿No tienes una cuenta?<br />
            <a style="font-weight: bold;" ng-href="#/registro">REGISTRATE AQUÍ</a>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
