<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <a ng-click="openDrawer();"><img src="img/gear.png" class="header-gear" /></a>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

    <ion-footer-bar class="bottom-banner">
      <div class="tabs" id="tabs_footer">
        <li class="tab-item active">
          <a ng-click="gotoTiendas();">
            <div class="foot-icon bolsa"></div>
            <div class="foot-text">TIENDAS</div>
          </a>
        </li>
        <li class="tab-item">
          <a ng-click="gotoPromos();">
            <div class="foot-icon etiqueta"></div>
            <div class="foot-text">PROMOS</div>
          </a>
        </li>
        <li class="tab-item">
          <a ng-click="gotoFavoritos();">
            <div class="foot-icon fav"></div>
            <div class="foot-text">FAVORITOS</div>
          </a>
        </li>
        <li class="tab-item">
          <a ng-click="gotoBuscar();">
            <div class="foot-icon lupa"></div>
            <div class="foot-text">BUSCAR</div>
          </a>
        </li>
      </div>
    </ion-footer-bar>
  </ion-side-menu-content>
  <drawer side="right">
  <!--<ion-side-menu side="right" drag-content="false">-->
    <ion-header-bar class="bar-stable header-bar">
      <h3><img src="img/gear2.png" class="header-gear2" /> CONFIGURACIÓN</h3>
      <button class="button button-icon button-clear ion-ios-close-empty byemenuright" ng-click="closeDrawer();"></button>
    </ion-header-bar>
    <ion-content>
    <div class="select">
      <select>
        <option>Tipo de tienda</option>      
      </select>
    </div>
    
    <div class="select">
      <select>
        <option>Tipo de entrega</option>
        <option ng-repeat="sdt in growify.storeDeliveryTypes" value="{{sdt._id}}">
          {{sdt.name}}
        </option>       
      </select>
    </div>

    <div class="select">
      <select>
        <option>Tiempos de despacho</option>
        <option ng-repeat="sdt in growify.storeDeliveryTimes" value="{{sdt._id}}">
          {{sdt.name}}
        </option>       
      </select>
    </div>

    <div class="select">
       <select>
          <option>Comuna</option>   
      </select>
    </div>
    <div class="config-guardar">
      <a><img src="img/btn.guardar.png" /></a>
    </div>
    <div class="btn-perfil" ng-show="growify.id">
      <a ng-click="gotoPerfil();" menu-toggle="right"><img src="img/btn.perfil.png" /></a>
    </div>

    </ion-content>
  </drawer>
  <!--</ion-side-menu>-->
</ion-side-menus>
