<ion-view view-title='PERFIL'>
  <ion-content scroll="true">
  	<div class="perfil-top"></div>
  	<div class="perfil-image" ng-click="setImage();">
  		<img src="{{fotoSubida}}"  />
  	</div>

  	<div class="perfil-form">
  		<input type="text" ng-model="tmpPerfil.firstName" placeholder="Nombre" />
  		<input type="password" ng-model="tmpPerfil.password" placeholder="Clave" />
  		<input type="text" ng-model="tmpPerfil.email" placeholder="Correo" />
  	</div>
  	<br />
    <div align="center">
    <button class="button button-growify2" ng-click="saveProfile();">GUARDAR</button>
    <br /><br />
    <!--
    <a ng-click="cerrarSesion();" class="closesession">Cerrar sesión</a>
    -->
    </div>

    <br />
  </ion-content>
</ion-view>
