<ion-view view-title='PERFIL'>
  <ion-content scroll="true">
  	<div class="perfil-top"></div>
  	<div class="perfil-image" ng-click="setImage();">
  		<img src="img/unknown.png" />
  	</div>

  	<div class="perfil-form">
  		<input type="text" value="{{growify.username}}" placeholder="Nombre" />
  		<input type="password" value="{{growify.password}}" placeholder="Clave" />
  		<input type="text" value="{{growify.email}}" placeholder="Correo" />
  		<input type="text" value="{{growify.city}}" placeholder="Comuna" />
  	</div>
  	<br />
    <div align="center">
    <button class="button button-growify2">GUARDAR</button>
    </div>
    <br />
  </ion-content>
</ion-view>
