

<ion-view view-title="Recupera tu clave" class="login">
<ion-header>
  <ion-nav-bar class="bar-stable">

    <ion-nav-buttons side="left">
      <a ng-href="#/login" class="button button-icon button-clear ion-ios-arrow-thin-left"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
</ion-header>
  <ion-content>
    <div class="text-center logo">
      <img src="img/logo.png" />
    </div>
    <form ng-submit="doRecover()">
      <div class="login-form">

        <p>Ingresa tu correo electrónico para recuperar tu clave.</p>
        <label>
          <input type="text" ng-model="lostData.email" placeholder="CORREO ELECTRÓNICO">
        </label>

        <div class="loading" ng-show="recuperandoLoading">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        </div>

        <div class="botones" ng-show="botonesRegistro">
          <button class="button button-growify" type="submit">RECUPERAR CLAVE</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
