<ion-view view-title="terms" class="terms">
  <ion-content class="fullsize">
    <div class="box">
      <div class="text-center"><img src="img/semilla.png" /></div>
      <h1>TERMINOS Y CONDICIONES</h1>

      <ion-scroll style="max-height: 48vh; padding-bottom: 10px;">        
      Growify es una aplicación móvil y plataforma web propiedad de Growify SPA (de ahora en adelante "Growify").
      Los productos mostrados en esta aplicación son comercializados por las tiendas que los ofrecen, por lo tanto cualquier garantía, reembolso o reclamo debe ser gestionado directamente con la tienda proveedora. Growify no se hace responsable por la integridad, calidad ni disponibilidad de los productos ni despachos que se gestionen a partir de la aplicación. Así como tampoco será responsable del uso que se le de a los productos adquiridos en las tiendas asociadas.
      <br><br>
      Los textos e imágenes mostrados en Growify tienen un fin únicamente referencial y son ingresados tanto por nuestro equipo así como también por las tiendas asociadas. Es importante aclarar que no somos necesariamente propietarios de todos los contenidos que muestra la aplicación, por lo tanto respetaremos las condiciones de uso que estos tengan desde sus fuentes respectivas.
      <br><br>
      <b>Política de Privacidad</b>
      <br><br>
      Creemos que la privacidad es un factor muy importante para el uso próspero del internet. Esta política describe cómo vamos a manejar los datos que nos entregues. Si tienes alguna pregunta sobre nuestras prácticas, contáctanos a contacto@growify.cl .
      <br><br>
      Qué información personal guardamos
      <br><br>
      Si eliges hacerte una cuenta en Growify, te solicitaremos sólo algunos datos como nombre de usuario, correo electrónico y contraseña.<br>
      Si ingresas al sistema por medio de una cuenta de Facebook o Google, obtendremos los datos especificados a través de esos sistemas.
      <br><br>
      <b>Cómo usamos información la información personal que guardamos</b>
      <br><br>
      Usos internos<br>
      Los datos personales que guardemos serán usados para que puedas iniciar sesión y eventualmente recuperar tu contraseña si llegases a perderla, así como también para enviarte información que Growify considere relevante que conozcas.
      <br><br>
      Entrega de información personal a terceros
      No vamos a revelar ninguna información personal a ningún tercero, a no ser que tú nos autorices.
      <br><br>
      <b>Manejo de datos estadísticos</b>
      <br><br>
      Podremos recopilar información sobre el uso de la aplicación. Esta información será propiedad de Growify y no estará relacionada con tu información personal.
      <br><br>
      Nos reservamos el derecho a cancelar y eliminar todos los datos asociados a tu cuenta sin aviso ni indemnización de ningún tipo.
      <br><br>
      Nos reservamos el derecho de modificar estas condiciones según lo consideremos oportuno; asimismo, el uso permanente de la aplicación significará su aceptación de cualquier ajuste a tales términos. Si hay algún cambio en nuestros términos y condiciones, te lo notificaremos desde la misma aplicación.
      </ion-scroll>
      <br />
        <div class="text-center">
          <a class="button button-growify2" ng-href="#/main/home">ACEPTAR</a>
        </div>
      </p>
    </div>
  </ion-content>
</ion-view>
