<ion-view view-title='TIENDAS'>
  <ion-content scroll="true">
  	<div class="tienda">
      <div class="tienda-foto-sup">
    		<div class="tienda-foto">
    			<img src="{{$root.default.cdn}}{{store.avatar}}" />
    		</div>
      </div>
      
  		<div class="tienda-subfoto">
  			<div class="tienda-subfoto-div-1">
  				<h1>{{store.name}}</h1>
  			</div>
  			<div class="tienda-subfoto-div-2" align="right">
          <a href ng-click="rateStore(store._id,{{n}})" ng-repeat="n in range(1,5)">
            <img ng-src="{{n <= store.rateAvg && 'img/stars.on.png' || 'img/stars.off.png'}}" />
          </a>
  			</div>
  			<div class="c"></div>
        <h2>DIRECCIÓN: {{store.address}}</h2>
  		</div>
      

  		<div class="tienda-tools">
  			<div class="tienda-tools-div-social">
        	  <a ng-show="!isFavorito" ng-click="addFavorito(store._id, store.name)"><img src="img/btn.favorito.png" /></a>
        	  <a ng-show="isFavorito" ng-click="delFavorito(store._id, store.name)"><img src="img/btn.favoritofull.png" /></a>
            
            <a data-ng-click="share('{{store.name}}','https://www.google.com/maps/preview/@{{store.geolocation.lat}},{{store.geolocation.long}},11z','Les recomiendo este Growify Shop!')"><img src="img/btn.compartir.png" /></a>
            
            <a ng-if="store.mobile != ''" data-ng-click="whatsapp('{{store.mobilefix}}')"><img src="img/btn.whatsapp.png" /></a>

  			</div>
  			<!--
        <div class="tienda-tools-div-social">
  				
  			</div>-->
  			<div class="tienda-tools-div-call">
  				<a href="tel:{{store.phone}}"><img src="img/btn.llamar.png" /></a>
  			</div>
  			<div class="c"></div>
  		</div>
  	</div>

    <div class="filtros">
      <div class="select">
        <select>
          <option>Todas las categorias</option>      
        </select>
      </div>
    </div>
  	
    <div class="productos">
  		<div class="producto" ng-repeat="product in products">
  		  <a href="#/main/vertiendaproducto/{{product.storeId._id}}/{{product.productId._id}}">
  			<div ng-if="product.productId.images.length"><img src="{{$root.default.cdn}}/assets/uploads/{{product.productId.images[0]}}" /></div>
  			<div ng-if="!product.productId.images.length"><img src="img/index.png" /></div>
			  <h3>{{product.productId.name}}</h3>
			  <h2>{{(product.price | currency:"$ ":0)}}</h2>
		  </a>
  		</div>

      <div class="no_productos" ng-show="!products.length">
        <h5>La tienda no tiene productos por ahora.<br />Inténtalo más tarde.</h5>
      </div>

  		<div class="c"></div>

  	</div>

  </ion-content>
</ion-view>
