<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.growify.app" version="1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Growify</name>
  <description>
        Growshop Chile
    </description>
  <author email="rosses@blanco-brand.com" href="http://www.blanco-brand.com/">
      Blanco Brand
  </author>
  <plugin name="cordova-plugin-whitelist" version="1" />

  <content src="index.html"/>
  <access origin="*"/>
  <access origin="whatsapp:*" launch-external="yes" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  
  <preference name="SplashScreenDelay" value="2000" />
  <preference name="SplashScreen" value="screen" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="auto-hide-splash-screen" value="false" />
  <preference name="ShowSplashScreenSpinner" value="false" />

  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="permissions" value="none"/>
  <preference name="Orientation" value="portrait" />

  <preference name="StatusBarOverlaysWebView" value="true" />
  <preference name="StatusBarStyle" value="lightcontent" />
  <preference name="AndroidPersistentFileLocation" value="Compatibility" />
  <!--<preference name="android-build-tool" value="gradle" />-->

  <preference name="exit-on-suspend" value="false"/>
  <preference name="android-windowSoftInputMode" value="stateHidden|adjustResize" />
  
  <plugin name="org.apache.cordova.geolocation"/>
  <plugin name="org.apache.cordova.globalization"/>
  <plugin name="org.apache.cordova.inappbrowser"/>
  <plugin name="org.apache.cordova.dialogs"/>
  <plugin name="cordova-plugin-camera">
    <variable name="CAMERA_USAGE_DESCRIPTION" value="La app requiere acceso a tu cámara" />
    <variable name="MICROPHONE_USAGE_DESCRIPTION" value="La app requiere acceso a tu micrófono" />
    <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="La app requiere acceso a tus fotos" />
  </plugin>
  <plugin name="org.apache.cordova.media-capture"/>
  <plugin name="org.apache.cordova.splashscreen"/>
  <plugin name="cordova-plugin-file-transfer"/>
  <plugin name="cordova-plugin-device" />
  <plugin name="cordova-plugin-statusbar" />
  <plugin name="cordova-plugin-settings-hook" />

  <plugin spec="https://github.com/ranjitpandit/whatsapp-phonegap-plugin.git" source="git" />


  <feature name="Custom URL scheme">
    <param name="id" value="cordova-plugin-customurlscheme" />
    <param name="url" value="https://github.com/EddyVerbruggen/Custom-URL-scheme.git" />
    <variable name="URL_SCHEME" value="growify" /><!-- change as appropriate -->
  </feature>
  
  <plugin name="cordova-plugin-customurlscheme" source="npm">
    <param name="URL_SCHEME" value="growify" />
  </plugin>
  <plugin name="cordova-plugin-splashscreen" />

  
  <plugin name="cordova-plugin-googleplus" source="npm">
    <param name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.667491307854-kscmugkqafi91lfh313242er4pkchvju" />
  </plugin>
  <plugin name="cordova-plugin-facebook">
      <param name="FACEBOOK_APP_ID" value="171879819958840" />
      <param name="FACEBOOK_DISPLAY_NAME" value="Growify" />
  </plugin>

  <plugin name="cordova-plugin-x-socialsharing" source="npm" />

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="Notification">
    <param name="ios-package" value="CDVNotification" />
  </feature>

  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="whatsapp:*" />
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <allow-intent href="fb:*"/>
  <allow-navigation href="*" />

  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>

  
  <icon src="icon.png" role="default" />

  <platform name="ios">
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
        <param name="onload" value="true" />
    </feature>
    <!-- images are determined by width and height. The following are supported -->
    <splash src="resources/ios/splash/Default~iphone.png" width="320" height="480"/>
    <splash src="resources/ios/splash/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="resources/ios/splash/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="resources/ios/splash/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="resources/ios/splash/Default-667h.png" width="750" height="1334"/>
    <splash src="resources/ios/splash/Default-736h.png" width="1242" height="2208"/>
    <splash src="resources/ios/splash/Default-Landscape-736h.png" width="2208" height="1242"/>
    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon src="resources/ios/icon/icon-60@3x.png" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="resources/ios/icon/icon-60.png" width="60" height="60" />
    <icon src="resources/ios/icon/icon-60@2x.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="resources/ios/icon/icon-76.png" width="76" height="76" />
    <icon src="resources/ios/icon/icon-76@2x.png" width="152" height="152" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <icon src="resources/ios/icon/icon-40.png" width="40" height="40" />
    <icon src="resources/ios/icon/icon-40@2x.png" width="80" height="80" />
    <!-- iPhone / iPod Touch -->
    <icon src="resources/ios/icon/icon.png" width="57" height="57" />
    <icon src="resources/ios/icon/icon@2x.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="resources/ios/icon/icon-72.png" width="72" height="72" />
    <icon src="resources/ios/icon/icon-72@2x.png" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="resources/ios/icon/icon-small.png" width="29" height="29" />
    <icon src="resources/ios/icon/icon-small@2x.png" width="58" height="58" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="resources/ios/icon/icon-50.png" width="50" height="50" />
    <icon src="resources/ios/icon/icon-50@2x.png" width="100" height="100" />

    <feature name="SocialSharing">
      <param name="ios-package" value="SocialSharing" />
    </feature>

    <config-file target="*-Info.plist">
      <key>CFBundleURLTypes</key>
      <array>
        <dict>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>fb171879819958840</string>
          </array>
        </dict>
      </array>
    </config-file>

    <config-file target="*-Info.plist">
      <key>FacebookAppID</key>
      <array>
          <string>171879819958840</string>
      </array>
    </config-file>

    <config-file target="*-Info.plist">
      <key>FacebookDisplayName</key>
      <array>
          <string>Growify</string>
      </array>
    </config-file>

    <config-file target="*-Info.plist">
      <key>LSApplicationQueriesSchemes</key>
      <array>
          <string>fb</string>
          <string>fbapi</string>
          <string>fb-messenger-api</string>
          <string>fbauth2</string>
          <string>fbshareextension</string>
      </array>
    </config-file>

    <config-file parent="CFBundleDevelopmentRegion" target="*-Info.plist">
        <array>
            <string>Spanish</string>
        </array>
    </config-file>
    <config-file parent="CFBundleLocalizations" target="*-Info.plist">
        <array>
            <string>es</string>
        </array>
    </config-file>

    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
        <string>Esta app necesita acceso a la cámara</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
        <string>Esta app necesita acceso a la librería</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
        <string>Esta app necesita acceso al micrófono</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocationUsageDescription">
        <string>Esta app necesita acceso a tu ubicación</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
        <string>Esta app necesita acceso a tu ubicación (siempre)</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
        <string>Esta app necesita acceso a tu ubicación (en uso)</string>
    </config-file>
  </platform>

  <platform name="android">
    <feature name="Whatsapp">
        <param name="android-package" value="mobi.moica.whatsapp.Whatsapp" />
    </feature>
    <feature name="Device">
      <param name="android-package" value="com.growify.app" />
    </feature>
    <preference name="android-manifest/application/activity[@android:name='noHistory']" delete="true" />

    <splash density="land-hdpi" src="resources/android/splash/drawable-land-hdpi-screen.png" />
    <splash density="land-ldpi" src="resources/android/splash/drawable-land-ldpi-screen.png" />
    <splash density="land-mdpi" src="resources/android/splash/drawable-land-mdpi-screen.png" />
    <splash density="land-xhdpi" src="resources/android/splash/drawable-land-xhdpi-screen.png" />
    <splash density="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.png" />
    <splash density="port-ldpi" src="resources/android/splash/drawable-port-ldpi-screen.png" />
    <splash density="port-mdpi" src="resources/android/splash/drawable-port-mdpi-screen.png" />
    <splash density="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.png" />
    <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
    <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
    <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
    <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />

    <feature name="SocialSharing">
      <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>
  </platform>

</widget>