/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(Lato-Regular-LatinExt.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(Lato-Regular-Latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body, div, td, tr, th, a, strong, b, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato';
}

.bar .title {
	font-size: 15px;
	/*padding-top: 10px;*/
}
/* Menu Config lateral */
.menu-content {
	box-shadow: none;
	/*transform: translate3d(0px, 0px, 0px) !important; */
}
.byemenuright {
	position: absolute;
	right: 20px;
}
drawer {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	z-index: 100 !important;
	transition:all 5s;
	-moz-transition: all 5s;
	-webkit-transition: all 5s;
	background-color: transparent !important;
}
drawer .bar.bar-stable {
	border-color: transparent;
	background-image: none;
}
drawer.isOpen {
	-webkit-box-shadow: -5px 0px 36px -3px rgba(0,0,0,0.35);
	-moz-box-shadow: -5px 0px 36px -3px rgba(0,0,0,0.35);
	box-shadow: -5px 0px 36px -3px rgba(0,0,0,0.35);
}
drawer .scroll-content {
	background-color: #EDF4F8 !important;
	padding-top: 20px;
	min-height: 100%;
}
drawer .header-bar {
	margin-top: 20px;
	padding: 20px;
	background-color: #EDF4F8 !important;
}
drawer .header-bar h3 {
	color: #279A4B;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 34px;
}
drawer .has-header {
	top: 64px;
}
drawer .header-bar i {
	color: #279A4B !important;
}
drawer .header-bar {
	height: auto;
    padding-top: 13px;
    padding-bottom: 5px;
}
drawer .has-header {
	text-align: center;
}
drawer .select {
	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
    padding: 0;
    border: 0;
    width: 80%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url("../img/dropdown.png") no-repeat;
    background-position: 90%;
    background-size: 15%;
}
drawer .select select[disabled] {
	background-color: #DEDEDE;
}
drawer .select select {
	width: 100%;
    padding: 12px;
    color: #4C6271;
    width: 130%;
    border: 0;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
drawer .select select:focus {
    outline: none;
}
drawer button { max-width: 50%; display: inline-block; margin-top: 10px; margin-bottom: 10px;  }
drawer button.activated { background-color: #DEDEDE; }
drawer .config-guardar { max-width: 50%; display: inline-block; margin-top: 10px; margin-bottom: 10px;  }
drawer .config-guardar img { width: 100%; height: auto; }
drawer .btn-perfil { max-width: 80%; display: inline-block; margin-top: 10px; margin-bottom: 10px; }
drawer .btn-perfil img { width: 100%; height: auto; }

/* Empty. Add your own CSS if you like */
.login, .printConfig {
	/*background-image: url(../img/loginbg.png);*/
	background-size: cover;
	background-position: center center;
	background-repeat: none;
}

.login .logo {
	padding-top: 30px;
}
.login .logo img {
	max-width: 65%;
	height: auto;
}
.login-form label {
	margin: auto;
	margin-top: 12px;
	margin-bottom: 12px;
	display: block;
	width: 70%;
	background-color: #FFF;
	border:0;
	border-radius: 10px;
	padding: 8px;
}

.login-form p {
	color: white;
	text-align:center;
}

.login-form label:after {clear: both;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-transform: uppercase;
}
::-moz-placeholder { /* Firefox 19+ */
  text-transform: uppercase;
}
:-ms-input-placeholder { /* IE 10+ */
  text-transform: uppercase;
}
:-moz-placeholder { /* Firefox 18- */
  text-transform: uppercase;
}
.login-form input {
	background-color: transparent;
	width: 100%;
	border: 0;
	color: #279A4B;
}

.login-form input::-webkit-input-placeholder { color: #279A4B; }
.login-form input:-moz-placeholder { color: #279A4B; }
.login-form input::-moz-placeholder { color: #279A4B; }
.login-form input:-ms-input-placeholder { color: #279A4B; }

.login-form .botones {
	margin-top: 20px;
}
.login-form .botones .inner {
	margin-top: 15px;
	text-align: center;
	color: #FFF;
	margin-bottom: 15px;
}
.login-form .botones .inner ul {
	border: 0;
	margin: 0;
	margin-top: 20px;
}

.login-form .botones .inner li {
	display: inline-block;
	border-radius: 50%;
	line-height: 55px;
	min-width: 55px;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
    font-size: 1.5em;
}
.login-form .botones .inner a { 
	font-size: 1.2em;
	color: white;
	text-decoration: none;
}
.login-form .botones .inner li.igo { background-color: #EA5755; }
.login-form .botones .inner li.itw { background-color: #78CBEF; }
.login-form .botones .inner li.ifb { background-color: #547BBC; }

button.button-grow {
    border-color: transparent;
    background-color: #218035;
    color: #fff;
}
.popclose {
	text-align: right;
	position: absolute;
	top: -7px;
	right: 1px;
	z-index:1000;
	color: #000000 !important;
	padding: 0px !important;
	background-color: transparent !important; 
}
.login-form button.button-growify {
	display:block;
	width: 50%;
	margin: auto;
	margin-bottom: 15px;
}
.login-form button.button-growify-line {
	display: block;
	width: 70%;
	margin: auto;
}
.login-form button.button-growify-line2 {
	border: 1px solid ;
}

.login-form .loading {
	color: #FFF;
	text-align: center;
}

.left-buttons a { color: white !important; }

.fullsize {
	height: 100%;
	width: 100%;
}
.fullsize .scroll {
	height: calc(100% - 90px);
}
.terms {
	background-color: #45A843;
}
.terms .box {
	-webkit-box-shadow: 0px 1px 14px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 14px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 14px 0px rgba(50, 50, 50, 0.75);
	width: calc(90% - 20px);
	padding: 20px;
	background-color: #FFF;
	/*margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;*/
	margin: 0;
	margin-top: 40px;
	position: absolute;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.terms img { text-align: center; max-width: 15vw; height: auto; margin-top: 15px; margin-bottom: 15px; } 
.terms .box h1 { 
	margin: 0; padding:0; 
	text-align: center; 
	color: #1F9343; 
	font-weight: bold; 
	font-size: 14px; 
	text-transform: uppercase; 
	width: 100%;
	margin-bottom: 15px;
}
.terms .box p { text-align: justify; }


.c { clear: both; }

.button-growify {
	border-radius: 9px;
	background-color: #73B72A;
	color: #FFF !important;
}
.button-growify2 {
	border-radius: 20px;
	background-color: #1D8634;
	color: #FFF !important;
}
.button-growify-line {
	border-radius: 5px;
	border: 1px solid #FFF;
	color: #FFF;
	min-height: initial;
	background-color: transparent;
}
.button-growify-2 {
	width: 120px;
	border-radius: 15px;
	border: 1px solid #F16032;
	color: #FFF !important;
	min-height: initial;
	background-color: #F16032;
}
.button-growify-line2 {
	border-radius: 5px;
	width: 80%;
	max-width: 80%;
	border: 1px solid #1D8634;
	color: #1D8634;
	min-height: initial;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
}
.button-growify-line2 i {
	color: #1D8634;
	font-size: 22px;
	line-height: 0px;
}
.button-growify-ok {
	border-radius: 5px;
	width: 80%;
	border: 1px solid #45A743;
	color: #FFF;
	min-height: initial;
	background-color: #45A743;
	padding-top: 10px;
	padding-bottom: 10px;
}
.button-growify-ok i {
	color: #1D8634;
	font-size: 28px;
}



.tabs-tiendas { position: absolute; z-index:9999; width:100%; background-color: transparent; text-align: center; }
.tabs-tiendas div { background-color: transparent; padding-top: 0; }
.tabs-tiendas div a.tab-i { background-color: #EFF7F1; color: gray; padding: 10px; padding-left: 30px; padding-right: 30px; display: inline-block; }
.tabs-tiendas div a.tab-i.active { color: white; background-color: #2E9744; }
.tabs-tiendas div { bottom: initial; }
.tabs-tiendas div a.tab-i:first-child { border-bottom-left-radius: 5px; }
.tabs-tiendas div a.tab-i:last-child { border-bottom-right-radius: 5px; }

.home-list { margin-top: 40px; margin-bottom: 40px; }
.home-list .img {  float: left;  overflow: hidden; width: 35%; /*height: 100px;*/ margin-right: 20px; }
.home-list img.avatar { height: auto; max-width: 100%; }
.home-list h2 { margin:0; padding:0; font-size: 17px; text-transform: uppercase; }
.home-list h3 { margin:0; padding:0; font-size: 15px; color: #2E9744; }
.home-list h4 { margin:0; padding:0; margin-top: 10px; padding-bottom: 10px; padding-top: 10px; border-bottom: 1px solid #CCC; }
.home-list h4 img { max-width: 100px; height: auto; }
.home-list .item { border: 0; }
.home-list .item-complex .item-content,.home-list .item-radio .item-content {
	padding: 16px 49px 0px 16px;
}

.bar-header { background-color:#218035 !important; }
.title-center { text-transform: uppercase; }
.ion-navicon { color: #FFFFFF !important; }
.ion-ios-gear-outline { color: #FFFFFF !important; }
.title img { max-height: 90%; width:auto; height: auto; padding-top: 8px; display:inline-block; }
.title { color:white !important; text-align:center; }

.loading .spinner {
	stroke: #FFF !important;
}
.back-text { display:none !important; }
.back-button { color: #FFF !important; }

.pstore-foto {
	width: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.pstore-foto img {
	max-width: 100%;
	min-width: 100%;
	height: auto;
	border: 1px solid #CCC;
	border-radius: 3px;
	display: block;
}
.pstore-categ {
	color: #1F9044;
	text-transform: uppercase;
	text-align: center;
	width: 80%;
	margin:auto;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 16px;
}
.pstore-name {
	color: #4C6271;
	text-transform: uppercase;
	text-align: center;
	width: 80%;
	margin:auto;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: bold;
}
.pstore-price {
	color: #4C6271;
	text-transform: uppercase;
	text-align: center;
	width: 80%;
	margin:auto;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
.pstore-rate {
	text-align: center;
	width: 80%;
	margin:auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.pstore-rate a {
	text-decoration: none;
}
.pstore-tools {
	border: 1px solid #CCC;
	width: 70%;
	padding: 10px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 10px;
	padding-top: 12px;
}
.pstore-tools img {
	max-width: 42%;
	display: inline;
}
.pstore-desc {
	text-align: center;
	width: 80%;
	margin: auto;
}
.tienda {

}

.tienda-foto-sup {
	padding: 15px;
}
.tienda-foto {
	/*height: 197px;*/
	overflow: hidden;
	margin-bottom: 10px;
	border-radius: 2px;
	width: 100%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(88,88,88,0.50);
	-moz-box-shadow: 0px 0px 5px 0px rgba(88,88,88,0.50);
	box-shadow: 0px 0px 5px 0px rgba(88,88,88,0.50);
}
.tienda-foto img {
	width: 100%;
	max-width: 100%;
	height: auto;
	border-radius: 2px;
	display:block;
}
.tienda-subfoto {
	padding: 15px;
	padding-top:0;
	padding-bottom:5px;
	border-bottom: 1px solid #CCC;
	text-align: center;
}
.tienda-subfoto-div-1 {
	float: left;
	width: 40%;
	display: inline-block;
}
.tienda-subfoto-div-2 {
	float: left;
	width: 60%;
	display: inline-block;
}

.tienda-subfoto-div-1 h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	text-align: left;
	padding:0;
	margin:0;
	color: #4C6271;
}
.tienda-subfoto h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 28px;
	text-align: left;
	padding:0;
	margin:0;
	color: #4C6271;
}
.tienda-subfoto-div-2 img {
	max-width: 32px;
}
.tienda-subfoto-div-2 a {
	text-decoration: none;
}
.filtros .select {
	margin:auto;
	margin-top: 5px;
	margin-bottom: 5px;
    padding: 0;
    border: 0;
    width: 80%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url("../img/dropdown.png") no-repeat;
    background-position: 90%;
    background-size: 15%;
}
.filtros .select select {
	width: 100%;
    padding: 12px;
    color: #4C6271;
    width: 130%;
    border: 0;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.button.activated button {
	background-color: #DEDEDE;
}
h5 { font-size: 16px; }
.filtros .button {
	margin:auto;
	margin-top: 5px;
	margin-bottom: 5px;
    padding: 0;
    border: 0;
    width: 80%;
    display:block;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.the_tab {
	padding-top: 30px;
}
.filtros .select select:focus {
    outline: none;
}
.filtros button {
	max-width: 100%;
	margin:auto;
	display: inline-block;
}
.tienda-tools {
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
	text-align: center;
}
.tienda-tools-div-social:first-child {
	margin-left: 10%;
	margin-top: 10px;
}
.tienda-tools-div-social:nth-child(2) {
	margin-top: 12px;
}
.tienda-tools-div-social {
	float: left;
	width: 30%;
	margin-right: 2%;
}
.tienda-tools-div-call {
	float: right;
	width: 45%;
	margin-right: 2%;
}
.tienda-tools-div-social img {
	max-width: 98%;
	margin-bottom: 10px;
}
.tienda-tools-div-call img {
	max-width: 90%;
	height: auto;
}
.productos {
	padding: 15px;
}
.producto {
	width: calc(50% - 30px - 10px);
	text-align: center;
	float: left;
	margin-bottom: 20px;
}
.producto h2 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
    margin: 0;
    margin-top: 4px;
}
.producto h3 {
	text-transform: uppercase;
	font-size: 15px;
	margin:0;
}
.producto:nth-child(odd) {
	margin-left: 20px;
	margin-right: 30px;
}
.producto:nth-child(even) {
	margin-right: 30px;
}
.producto img {
	border: 1px solid #CCC;
	border-radius: 7px;
	max-width:100%;
	max-height: auto;
}
.producto a {
	text-decoration: none;
}
/* ************************
	FOOTER PERSISTENTE
*************************** */
.footer a {
	color: #333;
	text-decoration: none;
}
.footer a.activated img {
	zoom: 0.8;
	margin: 6px; /* suple 10 px que genera zoom */
}
.bottom-banner .tabs .bolsa { background-image: url(../img/bolsa_off.png); }
.bottom-banner .tabs .etiqueta { background-image: url(../img/etiqueta_off.png); }
.bottom-banner .tabs .fav { background-image: url(../img/fav_off.png); }
.bottom-banner .tabs .lupa { background-image: url(../img/lupa_off.png); }
.bottom-banner .tabs .active .bolsa { background-image: url(../img/bolsa_on.png); }
.bottom-banner .tabs .active .etiqueta { background-image: url(../img/etiqueta_on.png); }
.bottom-banner .tabs .active .fav { background-image: url(../img/fav_on.png); }
.bottom-banner .tabs .active .lupa { background-image: url(../img/lupa_on.png); }

.bottom-banner { background-color: #EFF5F7; }
.bottom-banner .tabs { 
	background-color: #EFF5F7; 
	padding-top: 5px; 
	padding-bottom: 11px; 
	background-image: none; 
}
.bar.bar-footer {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(88,88,88,0.40);
	-moz-box-shadow: 0px 0px 10px 0px rgba(88,88,88,0.40);
	box-shadow: 0px 0px 10px 0px rgba(88,88,88,0.40);

}
.bottom-banner .tab-item { opacity: 1; }
.bottom-banner .foot-icon {
	width: 25px;
	height: 25px;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}
.bottom-banner .foot-text {
	display: block;
	margin-top: -35px	;
}
.bottom-banner a { color: #218035; font-size: 10px !important; }


.slider_foot .ion-ios-minus-outline { color: #218035 !important; font-size: 2em; }
.bar-footer, .bottom-banner .tabs { height: 60px; }

.header-gear { max-width: 23px; height: auto; margin-top: 5px; margin-right: 10px; }
/*.back-button { padding-top: 10px !important; }*/
.header-gear2 { 
    width: 25px;
    height: auto; 
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 5px;
}
.has-header { top: 60px; }
.has-footer { bottom: 60px; }

#map {
    width: 100%;
    /*height: calc(100vh - 43px - 54px); */
    height: calc(100vh - 43px - 20px); 
}
#location {
	position: absolute;
	z-index: 99999;
	bottom: 30px;
	right: 20px;
	padding: 8px;
	border-radius: 12px;
	width: 40px;
	text-align: center;
	background-color: rgba(80,80,80,0.8);
}
#location a {
	color: white;
	font-size: 18px;
}
.perfil-top {
	height: 110px;
	background-image: url(../img/bgperfil.png);
	background-repeat: repeat-y;
	background-size: 100% auto;
}
.perfil-image {
	position: absolute;
	width: 100%;
	left: 0;
	margin:auto;
	text-align: center;
	top: 30px;
}
.perfil-image img {
	display: inline-block;
	width: 190px;
	height: 190px;
	border-radius: 50%;
	border: 7px solid white;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(88,88,88,0.50);
	-moz-box-shadow: 0px 0px 15px 0px rgba(88,88,88,0.50);
	box-shadow: 0px 0px 15px 0px rgba(88,88,88,0.50);
}
.perfil-form {
	margin-top: 120px;
	text-align: center;
}
.perfil-form input { 
	background-image: url(../img/icon.lapiz.png);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 40px;
	border-radius: 8px;
	width: 80%;
	padding: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid #D7D7d7;
	display: inline-block;
}
.perfil-form input::after {
	display:block;
}
.search-top {
	background-color: #44A743;
	padding: 25px;
}
.search-top input {
	background-image: url(../img/icon.lupa.png);
	background-repeat: no-repeat;
	background-position: right 20px center;
	background-size: 25px;
	border-radius: 33px;
	padding: 12px;
	border:0;
	background-color: white;
	color: #4C6271;
	width: 100%;
	padding-right: 45px;
}
.bar .title.title-left { text-align: center; }

.search-filtro { margin-top: 20px;  margin-bottom: 20px;}
.search-top input::-webkit-input-placeholder { color: #CCC;	text-transform: none; }
.search-top input:-moz-placeholder { color: #CCC; text-transform: none; }
.search-top input::-moz-placeholder {  color: #CCC; text-transform: none; }
.search-top input:-ms-input-placeholder { color: #CCC; text-transform: none; }

.search .search-filtro {
	text-align: center;
}
.seearch .search-notfound {
	font-size: 14px;
}
.search .select {
	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
    padding: 0;
    border: 0;
    width: 80%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #EDF4F8;
    background: #EDF4F8 url("../img/dropdown.png") no-repeat;
    background-position: right 10px center;
    background-size: 25px;
}
.search .select select {
	width: 100%;
    padding: 12px;
    color: #4C6271;
    width: 130%;
    border: 0;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.search .config-guardar { max-width: 35%; display: inline-block; margin-top: 10px; margin-bottom: 10px;  }
.search .config-guardar img { width: 100%; height: auto; }

.offer {
	max-width: 95%;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}
.offer-por { 
    position: absolute;
    top: 5x;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4C6271;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
}
.offer-foto {
	float: left;
	width: 30%;
	margin-right: 10px;
}
.offer-foto img { width: 100%; height: auto; }
.offer-right {
	float: right;
	width: calc(70% - 10px);
}
.offer-name {
	color: #4C6271;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;
}
.favo-name {
	color: #279A4B;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 40px;
}
.buscar-name {
	color: #279A4B;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 40px;
}
.offer-local {
	padding-top: 5px;
	font-size: 12px;
	font-weight: normal;
}
.offer-localdir {
	font-size: 11px;
	font-weight: normal;
}

.offer-tienda {
	color: #1F9044;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 10px;
}
.offer-price-old {
	text-decoration: line-through;
	font-style: italic;
	font-size: 11px;
	line-height: 16px;
}
.offer-price-new {
	font-size: 14px;
	color: #4C6271;
	font-weight: bold;
	line-height: 16px;
}

a.activated img {
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
}
a.activated i {
	/*zoom: 0.9;*/
}
.no_favoritos, .no_puede_favoritos, .no_promociones {
	font-size: 30px;
    margin-top: 80px;
    line-height: 40px;
    text-align: center;
}
.no_resultados {
	font-size: 30px;
    margin-top: 10px;
    line-height: 40px;
    text-align: center;
}
.no_favoritos i { color: #218035; font-size: 120px; }
.no_puede_favoritos i { color: #218035; font-size: 120px; }
.no_promociones i { color: #218035; font-size: 120px; }
.no_resultados i { color: #218035; font-size: 120px; }

.fav_list { 
	padding: 15px; 
}

.bar { 
	height: 60px;
}
.tiendaLinker {
	font-size: 18px;
	font-weight: bold;
	color: #218035;
	text-decoration: none;
}
.siteLinker p { margin:0; padding:0; padding-top: 5px; padding-bottom: 5px; }
.siteLinker h4 { margin:0; padding:0; padding-top: 5px; padding-bottom: 5px; }

.closesession {
	color: #218035;
	font-size: 12px;
	text-decoration: underline;
}



@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?35rw09');
  src:  url('../fonts/icomoon.eot?35rw09#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?35rw09') format('truetype'),
    url('../fonts/icomoon.woff?35rw09') format('woff'),
    url('../../fonts/icomoon.svg?35rw09#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bolsa_off:before {
  content: "\e900";
}
.icon-bolsa_on:before {
  content: "\e901";
}
.icon-etiqueta_off:before {
  content: "\e902";
}
.icon-etiqueta_on:before {
  content: "\e903";
}
.icon-fav_off:before {
  content: "\e904";
}
.icon-fav_on:before {
  content: "\e905";
}
.icon-lupa_off:before {
  content: "\e906";
}
.icon-lupa_on:before {
  content: "\e907";
}
.tab-item .icon {
	font-size: 21px;
	height: 26px;
	color: #218035;
}
.tabs {
	background-color: #EFF5F7;
	padding-top: 10px;
	padding-bottom: 11px;
	color: #218035;
	border:0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(88,88,88,0.40);
    -moz-box-shadow: 0px 0px 10px 0px rgba(88,88,88,0.40);
    box-shadow: 0px 0px 10px 0px rgba(88,88,88,0.40);
    height:60px;
    background-size: 100% 0px;
}
input[type="search"] {
	-webkit-appearance: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-moz-appearance: border-box;
	appearance: border-box;
	box-sizing: border-box;
}
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
	border:0;
}
.platform-android .tab-item {
	padding-top: 10px;
}